//
// Theme
//
//@import "theme/_import.scss";
@import "components/_import.scss";

#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.tm-navbar-container {
  box-shadow: 0px 5px 6px -2px rgba(50,50,50,0.2);
}

.tm-navbar-menu-link {
  color: $global-color;
  font-weight: bold;
  font-size: 14px;
  padding: 7px 20px;
  border-radius: 5px;
  &.tm-navbar-menu-link-active {
    font-weight: normal;
    color: $global-inverse-color;
    background: $global-primary-background;
  }
  &:hover {
    text-decoration: none;
  }
}

.uk-navbar-nav > * {
  margin: 0 15px;
  vertical-align: middle;

}

[class*="user-dot-"]{
  border-radius: 50px;
  display: inline-block;
  width: 12px;
  height: 12px;

  margin-right: 5px;
  vertical-align: middle;
}
.user-dot-online{
  background: greenyellow;
}

.user-dot-offline{
  background: grey;
}


.tm-navbar-account {
  font-size: 13px
}

.tm-navbar-money {
  font-weight: bold;
  font-size: 14px;
}




