<template>
  <gmap-map ref="gmap"
            :zoom="7"
            :center="center"
            :options="{styles: styles,disableDefaultUI:true}"
            style="height: 100%;width: 100%"
  >
    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :title="m.label"
      :position="m.position"
      :icon="m.icon"
      :clickable="true"
      :draggable="false"
      @click="showInfo(m)"
    ></gmap-marker>


    <gmap-polyline :path="[{ lat: 56.3333816,lng: 36.730447}, { lat: 55.8761163,lng: 38.4666594}]" :draggable="false"
                   :options="{geodesic:true,strokeWeight: 0,icons:iconsFly}"
                   @path_changed="updatePolylinePath($event)"></gmap-polyline>

    <info-window :label="info_window.label" :position="info_window.position"></info-window>
  </gmap-map>
</template>

<script>
  import Vue from 'vue'
  import UIkit from 'uikit';
  import MapStyles from '../gmap.styles'
  import MapCities from '../gmap.cities'
  import MapPaths from '../gmap.paths'
  import * as VueGoogleMaps from 'vue2-google-maps'
  import InfoWindow from '../InfoWindow'
  import CurvedPolylines from '../СurvedPolylines'


  Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyD0ddWq8bD_qzL-IJv_zaE0NvkLWUrBiE8'
    }
  });


  export default {
    name: 'HomePage',
    components: {'info-window': InfoWindow},
    mounted() {
      // Рандомные цвета для линий
      for (const [index, value] of this.paths.entries()) {
        this.paths[index]['color'] = '#' + Math.floor(Math.random() * 16777215).toString(16);
      }
      // Центруем и ресайзим
      VueGoogleMaps.loaded.then(() => {

        // Маркеры
        for (let city of this.cities)
          this.markers.push({
            position: city.position, label: city.label,
            icon: {
              url: city.icon,
              anchor: new google.maps.Point(13, 13),
            }
          });
        let bounds = new google.maps.LatLngBounds();
        for (let marker of this.markers) {
          bounds.extend(marker.position);
        }
        this.$refs.gmap.$mapCreated.then((map) => {
          for(let path of this.paths) {
            var a = new CurvedPolylines({
              latStart: path.position[0].lat,
              lngStart: path.position[0].lng,
              latEnd: path.position[1].lat,
              lngEnd: path.position[1].lng,
              color:'#' + Math.floor(Math.random() * 16777215).toString(16)
            });
            a.setLines(map);
          }
          map.fitBounds(bounds);
          map.panToBounds(bounds);
        }).catch((error) => {
          console.error(error)
        });
      }).catch((error) => {
        console.error(error)
      });

      // animation
      var offset = {dotted: 0, darrow: 0};
      setInterval(() => {
        offset.dotted = offset.dotted === 5 ? 0 : offset.dotted + 1;
        offset.darrow = offset.darrow === 100 ? 0 : offset.darrow + 1

        this.iconsFly[0].offset = offset.darrow + "%"
        this.iconsFly[1].offset = offset.dotted + "px";

      }, 50)

    },
    data() {
      return {
        center: {
          lat: 0,
          lng: 0
        },
        zoom: 7,
        iconsFly: [{
          icon: {
            path: "m 0,0 -15,5 0,55 -85,55 0,25 85,-30 0,45 -35,30 0,15 50,-15 50,15 0,-15 -35,-30 0,-45 85,35 0,-30 -85,-55 0,-55 z",
            scale: 0.11,
            fillOpacity: 1,
            fillColor: "#AAE300",
            strokeOpacity: 0.3,
            strokeColor: "#000",
            strokeWeight: 1,
          }, offset: "100%"
        }, {
          icon: {
            path: "M -.5,-.5 .5,-.5, .5,.5 -.5,.5",
            fillOpacity: .1,
            fillColor: "#ffffff",
            strokeWeight: 2,
            strokeOpacity: 0.4,
            scale: 0.2
          }, repeat: "6px"
        }],
        info_window: {
          label: '',
          position: ''
        },
        cities: MapCities,
        paths: MapPaths,
        styles: MapStyles,
        markers: []
      }
    },
    methods: {
      showInfo(marker) {
        this.center = marker.position;
        this.info_window = {
          label: marker.label,
          position: marker.position
        }

        UIkit.modal('#info-window').show();
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
