<template>
  <div id="info-window" uk-modal class="uk-flex-top">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-box-shadow-large">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
        <h3 class="uk-modal-title">Location: {{label}} <sup>({{ positionToString }})</sup></h3>
      </div>
      <div class="uk-modal-body">
        <div class="people">
          <div>Население: 23 mln</div>
          <div>Скорость рождения новых: 3578 жителя за блок</div>
          <div>Миграции: 785 жителя за блок</div>
        </div>
        <table>
          <tr>
            <th>Virus</th>
            <th>Owner</th>
            <th>%</th>
            <th>1 block</th>
            <th>7 blocks</th>
          </tr>
          <tr>
            <td><img src="../../static/img/markers/makger_blue.png" alt="" /> <a href="#">SuperVirus345</a></td>
            <td><span class="user-dot-online"></span> <a href="#">Misha</a></td>
            <td>35</td>
            <td>-14</td>
            <td>45</td>
          </tr>
          <tr>
            <td><img src="../../static/img/markers/makger_green.png" alt="" /> <a href="#">SuperVirus67867</a></td>
            <td><span class="user-dot-online"></span> <a href="#">Misha</a></td>
            <td>45</td>
            <td>+22</td>
            <td>+47</td>
          </tr>
          <tr>
            <td></td>
            <td><span class="user-dot-offline"></span> <a href="#">Healthy</a></td>
            <td>21</td>
            <td>-24</td>
            <td>-85</td>
          </tr>
        </table>
        <div class="graph">
          <img src="../../static/img/graph.png" alt=""/>
        </div>
      </div>

      <div class="uk-modal-footer uk-text-left">
        <button class="uk-button uk-button-primary">Разместить вирус</button>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name: "info-window",
    props: ['label', 'position'],
    computed: {
      positionToString() {
        return this.position.lat + ', ' + this.position.lng;
      }
    }
  }
</script>

<style scoped lang="scss">
  #info-window {
    width: 450px;
    background: none;
    overflow: hidden;
    padding-top: 90px;
    .uk-modal-dialog {
      padding: 20px 0px;
    }
    .uk-modal-header {
      h3 {

      }
      sup {
        font-weight: normal;
        font-size: .8rem;
        line-height: .9rem;
      }
    }
    .people {
      font-weight: bold;
      font-size: .9rem;
    }
    table {
      width: 100%;
      margin: 15px 0;
      font-size: .8rem;
      text-align: left;
      img{width: 22px;height: 22px}
      td,th {
        padding: 5px 0;
        &:nth-child(n+3){
          text-align: center
        }
        border-bottom: 1px dashed rgba(100, 100, 100, .2)
      }
      tr:last-child{
        td{border-bottom: none}
      }
      td:nth-child(n+3){font-weight: bold}
      th {
        font-weight: normal;
        color: #aaa;
      }
    }
  }
</style>
