<template>
  <div uk-sticky="media: 920" class="uk-sticky uk-sticky-fixed tm-navbar-container">
    <div class="uk-container">
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left uk-text-right">
          <a href="../" class="uk-navbar-item uk-logo">
            <img src="../../static/img/logo.png" alt="logo" class="uk-visible@s "/>
            <img src="../../static/img/logo_small.png" alt="logo" class="uk-hidden@s"/>
          </a>
        </div>
        <div class="uk-navbar-center">
          <div class="uk-navbar-nav">
            <router-link class="tm-navbar-menu-link" exact-active-class="tm-navbar-menu-link-active" tag="a" to="/">Карта
            </router-link>
            <router-link class="tm-navbar-menu-link" exact-active-class="tm-navbar-menu-link-active" tag="a" to="#lab">Лаборатория</a></router-link>
            <router-link class="tm-navbar-menu-link" exact-active-class="tm-navbar-menu-link-active" tag="a" to="#market">Рынок</router-link>
          </div>
        </div>
        <div class="uk-navbar-right">
          <div class="uk-navbar-nav">

            <div class="tm-navbar-account uk-visible@s uk-visible@m">
              <span class="user-dot-online"></span>
              accountname
            </div>
            <div class="tm-navbar-money">
              33.254 <span uk-icon="icon:more-vertical;ratio: .5"></span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
    export default {
        name: "nav-bar"
    }
</script>

<style scoped>

</style>
