<template>
  <div id="app">
    <nav-bar></nav-bar>
    <div uk-height-viewport="expand: true">
      <router-view/>
    </div>
  </div>
</template>

<script>
  import NavBar from './components/NavBar'

  export default {
    name: 'App',
    components: {
      'nav-bar': NavBar,
    },
  }
</script>

<style lang="scss">
  @import "./assets/scss/variables-theme.scss";
  @import "./assets/scss/mixins-theme.scss";
  @import "./assets/scss/uikit-theme";
  @import "~uikit/src/scss/uikit";
</style>

